@import "./fonts.ttf";
@import "./gradients.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

:root {
    --headlinesFont: "Jost", sans-serif;
    --bodyFont: "Work Sans", sans-serif;
    --wildWatermelon: #ff4f87;
    --fuelYellow: #f0a035;
    --textColor: #323232;
    --bodyBg: #ECEFFC;
    --white: #fff;
    --black: #000;
  }
  
  body {
    background: var(--bodyBg);
    font-family: var(--bodyFont);
    color: var(--textColor);
    line-height: 1.5;
    max-width: 100vw;
    overflow-x: hidden;
  }